body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.appContainerElement {
  flex: 3;
  display: flex;
  justify-content: center;
}

.appContainer {
  height: 100vh;
  overflow: scroll;
  padding: 40px;
  width: 100%;
}

.appContainerPadder {
  margin: 0 auto;
  width: 100%;
}

.markdown-body { 
  width: 100%;
}

.appLayout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: white;
}

.appSidebar__Search {
  position: absolute;
  background-color: rgb(250, 250, 250);
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.appSidebar__Search input {
  height: 100%;
  margin: 7px;
}

.appSidebar__Search input:focus {
  outline: 0;
}

.packageSearch {
  width: 100%;
  flex: 1;
}

.appSidebar__List {
  height: 100vh;
  overflow: auto;
  position: relative;
}

.appSidebar {
  flex: 1;
  position: relative;
  min-width: 200px;
  border-right: 1px solid rgba(0, 0, 0, 0.0677777);
  background: rgb(250, 250, 250);
}

.appSidebarList{
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

.appSidebarList li {
  padding: 8px 15px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #364149;
}

.appSidebarList li:hover {
  color: #008cff;
  transition: all 0.25s;
}

.fileList {
  opacity: 0;
  display: none;
}

.fileList.open {
  opacity: 1;
  display: block;
}